* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  @font-face{
    font-family: 'sans';
    src: url('sans.ttf');
}
  body {
    background-color: #f2f2f2;
    background-image: url(bg2.jpg);
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  form {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.4;
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group:last-of-type {
    margin-bottom: 0;
  }
  
  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 28px;
    }
  }
  
  